// Mixins Here

.hideimage {
    display: none;
}

.signup(@bg-color, @fontcolor){
    background-color: @bg-color;
    color: @fontcolor;
    border: solid black .5px;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    padding: 5% 0;
}